<h2>Syllabus</h2>


<h4>Lectures &amp; Lab:</h4>

<p>The goal of both the lectures and the labs is for them to be as interactive as possible. My role as instructor is to introduce you new tools and techniques, but it is up to you to take them and make use of them. Programming is a skill that is best learned by doing, so as much as possible you will be working on a variety of tasks and activities throughout each lecture / lab. Attendance will not be taken during class but you are expected to attend all lecture and lab sessions and meaningfully contribute to in-class exercises and homework assignments.</p>


<h4>Classroom:</h4>

{{ range .Params.class }}
<p>{{ .room }}</p>
<ul>
  {{ range .dates }}
  <li>
    <i>{{ .type }}</i> - {{ .days }}
  </li>
  {{ end }}
</ul>
{{ end }}


<h4>Homework:</h4>

<p>During the course of the lectures and labs you will be given larger computing / programming tasks which you are expected to work on outside of class. Successful completetion of all of these assignments is not necessary to receive credit for this course but at least attempting them is.</p>


<h4>Course Announcements:</h4>

<p> I will regularly send course announcements by email, make sure to check your email daily. Email is the easiest way to reach me outside of class, note that it is much more efficient to answer most questions in person. </p>



<h4>Academic integrity:</h4>

<p>Duke University is a community dedicated to scholarship, leadership, and service and to the principles of honesty, fairness, respect, and accountability. Citizens of this community commit to reflect upon and uphold these principles in all academic and non-academic endeavors, and to protect and promote a culture of integrity. Cheating on exams or plagiarism on homework assignments, lying about an illness or absence and other forms of academic dishonesty are a breach of trust with classmates and faculty, violate the <a href="http://www.studentaffairs.duke.edu/conduct/resources/dcs">Duke Community Standard</a>, and will not be tolerated. Such incidences will result in a 0 grade for all parties involved.  Additionally, there may be penalties to your final class grade along with being reported to the <a href="http://www.studentaffairs.duke.edu/conduct/about/ucbhearings">Undergraduate Conduct Board</a>.</p>

<p>Please review the Academic Dishonesty policies <a href="http://www.studentaffairs.duke.edu/conduct/resources/academicdishonesty">here</a>.</p>

<p>A note on sharing / reusing code - I am well aware that a huge volume of code is available on the web to solve any number of problems. Unless I explicitly tell you not to use something the course's policy is that you may make use of any online resources (e.g. StackOverflow) but you must explicitly cite where you obtained any code you directly use (or use as inspiration). Any recycled code that is discovered and is not explicitly cited will be treated as plagiarism. The one exception to this rule is that you may not directly share code with another team in this class, you are welcome to discuss the problems together and ask for advice, but you may not send or make use of code from another team.</p>


<h4>Excused Absences:</h4>

<p>Students who miss a class due to a scheduled varsity trip, religious holiday or short-term illness should fill out an online <a href="http://trinity.duke.edu/academic-requirements?p=notification-of-varsity-athletic-participation-novap">NOVAP</a>, <a href="http://trinity.duke.edu/academic-requirements?p=religious-observance">RHoliday</a> or <a href="http://trinity.duke.edu/academic-requirements?p=policy-short-term-illness-notification">short-term illness</a> form respectively. Note that these excused absences do not excuse you from assigned homework, it is your responsibility to make alternative arrangements to turn in any assignments in a timely fashion.</p>

<p>Those with a personal emergency or bereavement should speak with your director of graduate studies or your academic dean.</p>


<h4>Late work policy:</h4>

<ul>
  <li> late, but same day: -10% </li>
  <li> late, next day: -20% </li>
  <li> 2 days or later: no credit </li>
</ul>


<h4>Grading:</h4>

<p>The course is graded based on a credit / no-credit basis. In order to receive credit you are expected to attend as many of the lectures and labs as possible and to be an active participant during these classes.</p>


